---
layout: default
background: "url(https://upload.wikimedia.org/wikipedia/commons/8/87/Old_book_bindings.jpg) #03A9F4"
attribution: "By Tom Murphy VII (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html), CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/) or CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons"
---

<header>
  <div class="c">
    <h1>Domínio Público INOVApps</h1>
    <p class="lead">Cultura e conhecimento, livre, legal.</p>
  </div>
</header>

<!-- END COVER -->
</div>

<section class="home">
  <div class="c">
      <h2>Notícias</h2>
      <div class="blog">
        {% for post in site.categories.blog %}
          <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
            <div class="preview" style="background:{{ post.background }}">
              <div class="date">
                  <small>
                    {% assign m = post.date | date: "%-m" %}
                    {% case m %}
                      {% when '1' %}Janeiro
                      {% when '2' %}Fevereiro
                      {% when '3' %}Mar&ccedil;o
                      {% when '4' %}Abril
                      {% when '5' %}Maio
                      {% when '6' %}Junho
                      {% when '7' %}Julho
                      {% when '8' %}Agosto
                      {% when '9' %}Setembro
                      {% when '10' %}Outubro
                      {% when '11' %}Novembro
                      {% when '12' %}Dezembro
                    {% endcase %}
                  </small>
                  {{ post.date | date: "%-d" }}
              </div>
            </div>
            <h3>{{ post.title }}</h3>
            <p>{{ post.summary }}</p>
          </a>
          <br>
        {% endfor %}
      </div>

<!--
      <h2>Upcoming Meetups</h2>
      <div class="meetups">
        {% assign curDate = site.time | date: '%s' %}
          {% for post in site.categories.meetup %}
            {% assign postStartDate = post.date | date: '%s' %}
            {% if postStartDate > curDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }} at {{ post.address }}</p>
              </a>
              <br>
            {% endif %}
          {% endfor %}
        </div>
        <br>

        <h2>Recent Meetups</h2>
        <div class="meetups">
          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.categories.meetup %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if curDate > postStartDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }} at {{ post.address }}</p>
              </a>
              <br>
              {% endif %}
            {% endfor %}
          </div>
-->

  </div>
</section>

