<span id="top"></span>
<div class="cover" style="background:{{ page.background }}">
  
  <nav class="site-header" role="navigation">
    <div class="c">
      <a href="{{ site.baseurl }}" class="logo">
        <i class="icon-tools"></i>
        <div>
          Domínio Público
          <small>{{ site.location }}</small>
        </div>
      </a>
      <a href="#" onclick="$('nav').toggleClass('expanded')" class="menu-button visible-mobile right">
        <i class="icon-more"></i>
      </a>
      {% for page in site.pages %} {% if page.navigation contains 'visible' %}
        <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="{{ page.url | prepend: site.baseurl }}">
          <i class="icon-{{ page.icon }}"></i>
          <div>
            {{ page.title }}
            <small>{{ page.caption }}</small>
          </div>
        </a>
      {% endif %} {% endfor %}
      <a href="https://facebook.com/groups/DominioPublico" target="_blank" class="facebook">
        <i class="icon-facebook"></i>
        <div>
          Leitores Livres
          <small>Junte-se a nós em Domínio Público!</small>
        </div>
      </a>
    </div>
  </nav>

  <!-- COVER PHOTO CONTINUES -->
